/* start variables */
:root {
    --main-color:#0281e9;
    --secondary-color:#124e80;
}
/* end variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start special components  */
.spcial-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.spcial-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .spcial-heading {
        font-size: 60px;
    }
    .spcial-heading + p{
        margin-top: -20px;
    }
}
/* end special components  */
/* start header  */
.header {
    background-image: linear-gradient(50deg, #000000 0%, #0281e9 50%, #0f0b46 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo {
    width: 200px;
    max-height: 100px;
}
@media screen and (max-width: 767px) {
    .header .logo {
        width: 150px;
    }
}
.header .logo img {
    max-width: 100%;
     max-height:100%;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: white;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 50%;
    transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #000000 transparent;
    position: absolute;
    right: 5px;
    top:-20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* end header  */
/* start landing section */
.landing {
    background-image: url(/assets/images/landing.jpg);
    background-color: #000; /* لون افتراضي قبل تحميل الصورة */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 74px);
    position: relative;
}
.landing .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,1.5)
    );
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top:50%;
    text-align: center;
    width: 350px;
    max-width: 100%;
    transform:translate(-50%, -50%) ;
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
    color: white;
}
.landing .intro-text .btn {
    padding: 15px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.landing .intro-text .btn:hover {
    background-color: #026fca;
}
/* end landing section */
/* start features section */
.features {
    padding: 60px 0;
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap:15px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
}
.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;;
}

/* end features section */
/* start services  */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        align-items: center;
        flex-basis: ;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv p {
    color: #444;
    font-weight: 400;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
    z-index: 1;
}
.services .services-content .image::before {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

@media (max-width: 1199px) {
    .hideen {
        display: none;
    }
}
/* end services  */